body {
  padding: 20px;
}

/* Should be scrollable */
html, body {
  overflow-y: visible;
}

/* Fix according to angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
