<script type="text/ng-template" id="warnDirtyConfig.html">
  <div id="warnDirtyConfig">
    <div class="modal-header">
      <h3 class="modal-title">Do you want to save your configuration?</h3>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
    </div>
  </div>
</script>
<form name="configuration.configForm">
  <div class="row">
    <div class="col-md-12">
      <h3>Credentials</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Exchange</h4>
      <div class="form-group">
        <label for="exchangeUrl">URL</label>
        <input type="text" class="form-control" id="exchangeUrl" data-ng-model="configuration.config.exchange.url" placeholder="https://mail.yourcompany.com/">
      </div>
      <div class="checkbox">
        <label uib-tooltip="Attempt to use Windows Credentials to login to Exchange (may not always work)"><input type="checkbox" data-ng-model="configuration.config.exchange.spnego">Use Windows Credentials</label>
      </div>
      <div data-ng-show="!configuration.config.exchange.spnego">
        <div class="form-group">
          <label for="exchangeUsername">Username</label>
          <input type="text" class="form-control" id="exchangeUsername" data-ng-model="configuration.config.exchange.username" placeholder="domain\user">
        </div>
        <div class="form-group">
          <label for="exchangePassword">Password</label>
          <input type="password" class="form-control" id="exchangePassword" data-ng-model="configuration.config.exchange.password">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>JIRA/Tempo</h4>
      <div class="form-group">
        <label for="jiraUrl">URL</label>
        <input type="text" class="form-control" id="jiraUrl" data-ng-model="configuration.config.jira.url" placeholder="http://jira.yourcompany.com/">
      </div>
      <div class="form-group">
        <label for="jiraUsername">Username</label>
        <input type="text" class="form-control" id="jiraUsername" data-ng-model="configuration.config.jira.username">
      </div>
      <div class="form-group">
        <label for="jiraPassword">Password</label>
        <input type="password" class="form-control" id="jiraPassword" data-ng-model="configuration.config.jira.password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Log Types</h3>
      <table class="table table-condensed">
        <tr>
          <th class="col-md-2">Name</th>
          <th class="col-md-1">Issue</th>
          <th class="col-md-1">Account</th>
          <th class="col-md-3">Comment</th>
          <th class="col-md-4">Auto Match</th>
          <th class="col-md-1"></th>
        </tr>
        <!-- TODO: Validation, no same name -->
        <tr data-ng-repeat="logType in configuration.config.logTypes">
          <td><input type="text" data-ng-model="logType.name" class="form-control"></td>
          <td><input type="text" data-ng-model="logType.issueKey" class="form-control"></td>
          <td><input type="text" data-ng-model="logType.accountKey" class="form-control"></td>
          <td><input type="text" data-ng-model="logType.override.comment" class="form-control" placeholder="Leave blank to use subject"></td>
          <td>
            <div class="form-inline" data-ng-repeat="rule in logType.rules">
              <select class="form-control" data-ng-model="rule.field">
                <option value="subject">Subject</option>
                <option value="categories">Categories</option>
              </select>
              <select class="form-control" data-ng-model="rule.op">
                <option value="contains">contains</option>
              </select>
              <input class="form-control" data-ng-model="rule.value">
              <a href="" data-ng-click="deleteRule(logType.rules, $index)" class="btnDeleteRule">Delete</a>
            </div>
            <a href="" data-ng-click="addRule(logType.rules)" class="btnAddRule">Add</a>
          </td>
          <td>
            <button data-ng-click="deleteLogType($index)" class="btn btn-danger btnDeleteLogType">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button data-ng-click="addLogType()" class="btn btn-success" id="btnAddLogType">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
      </table>
      <span uib-tooltip="Your configurations are already saved" tooltip-enable="!configuration.configForm.$dirty" tooltip-placement="right">
        <button data-ng-click="saveConfig()" data-ng-disabled="!configuration.configForm.$dirty" class="btn btn-primary" id="btnSaveConfig">Save</button>
      </span>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-12">
    <h3>Import/Export</h3>
    <p>
      <button data-ng-click="importConfig()" class="btn btn-default" id="btnImportConfig">Import</button>
      <button data-ng-click="exportConfig()" class="btn btn-default" id="btnExportConfig">Export</button>
    </p>
    <textarea class="form-control" data-ng-model="configuration.importExport" placeholder="To import, paste here and press import. To export, press export and configuration will be displayed here."></textarea>
  </div>
</div>