<!doctype html>
<html data-ng-app="autoTempoApp" lang="en">
<head>
  <meta charset="utf-8">
  <title>AutoTempo</title>

  <!-- build:css styles/vendor.css -->
  <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body data-ng-controller="AppController" data-ng-cloak>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab heading="Log from Exchange">
          <h3>
            Appointments
            <small class="pull-right form-inline">
              <input type="date" class="form-control" data-ng-model="exchangeLog.inputDate" data-ng-change="fetchAppointments()">
              <button data-ng-click="fetchAppointments()" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </button>
            </small>
          </h3>
          <table class="table table-condensed">
            <tr>
              <th>Subject</th>
              <th>Start</th>
              <th>End</th>
              <th>Duration</th>
              <th>My Response Type</th>
              <th>Log as</th>
            </tr>
            <tr data-ng-repeat="appointment in exchangeLog.appointments">
              <td>{{ appointment.subject }}</td>
              <td>{{ appointment.start | date: "HH:mm" }}</td>
              <td>{{ appointment.end | date: "HH:mm" }}</td>
              <td>{{ (appointment.end - appointment.start) / 3600000 | number: 2 }} h</td>
              <td>{{ appointment.myResponseType }}</td>
              <td>
                <select class="form-control"
                        data-ng-init="appointment.logType = logTypes[0]"
                        data-ng-options="type.name for type in logTypes track by type.name"
                        data-ng-model="appointment.logType"></select>
              </td>
            </tr>
          </table>
          <div class="alert alert-danger" role="alert" data-ng-show="exchangeLog.error">
            Unable to connect to Exchange: {{ exchangeLog.error }}
          </div>
          <button data-ng-click="submitExchangeLog()" class="btn btn-primary">Log to tempo!</button>
        </uib-tab>
        <uib-tab heading="Quick Log">
          <div class="row">
            <div class="col-md-12">
              <form role="form" data-ng-submit="submitQuickLog()">
                <div class="form-group">
                  <label for="quickDate">Date</label>
                  <input type="date" class="form-control" id="quickDate" data-ng-model="quickLog.date">
                </div>
                <div class="form-group">
                  <label for="quickLogType">Type</label>
                  <select id="quickLogType"
                          class="form-control"
                          data-ng-options="type.name for type in logTypes track by type.name"
                          data-ng-change="quickLogOverrideComment(quickLog.logType.override.comment)"
                          data-ng-model="quickLog.logType"></select>
                </div>
                <div class="form-group">
                  <label for="quickDuration">Hours</label>
                  <input type="number" class="form-control" step="any" id="quickDuration" data-ng-model="quickLog.durationHours">
                </div>
                <div class="form-group">
                  <label for="quickComment">Comment</label>
                  <textarea class="form-control" id="quickComment" data-ng-model="quickLog.comment" data-ng-readonly="quickLog.commentReadOnly"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Configuration">
          <div class="row">
            <div class="col-md-12">
              <h3>Credentials</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Exchange</h4>
              <div class="form-group">
                <label for="exchangeUrl">URL</label>
                <input type="text" class="form-control" id="exchangeUrl" data-ng-model="configuration.config.exchange.url" placeholder="https://mail.yourcompany.com/">
              </div>
              <div class="checkbox">
                <label uib-tooltip="Attempt to use Windows Credentials to login to Exchange (may not always work)"><input type="checkbox" data-ng-model="configuration.config.exchange.spnego">Use Windows Credentials</label>
              </div>
              <div data-ng-show="!configuration.config.exchange.spnego">
                <div class="form-group">
                  <label for="exchangeUsername">Username</label>
                  <input type="text" class="form-control" id="exchangeUsername" data-ng-model="configuration.config.exchange.username" placeholder="domain\user">
                </div>
                <div class="form-group">
                  <label for="exchangePassword">Password</label>
                  <input type="password" class="form-control" id="exchangePassword" data-ng-model="configuration.config.exchange.password">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4>JIRA/Tempo</h4>
              <div class="form-group">
                <label for="jiraUrl">URL</label>
                <input type="text" class="form-control" id="jiraUrl" data-ng-model="configuration.config.jira.url" placeholder="http://jira.yourcompany.com/">
              </div>
              <div class="form-group">
                <label for="jiraUsername">Username</label>
                <input type="text" class="form-control" id="jiraUsername" data-ng-model="configuration.config.jira.username">
              </div>
              <div class="form-group">
                <label for="jiraPassword">Password</label>
                <input type="password" class="form-control" id="jiraPassword" data-ng-model="configuration.config.jira.password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Log Types</h3>
              <table class="table table-condensed">
                <tr>
                  <th>Name</th>
                  <th>Issue Key</th>
                  <th>Account Key</th>
                  <th>Comment</th>
                  <th></th>
                </tr>
                <!-- TODO: Validation, no same name -->
                <tr data-ng-repeat="logType in configuration.config.logTypes">
                  <td><input type="text" data-ng-model="logType.name" class="form-control"></td>
                  <td><input type="text" data-ng-model="logType.issueKey" class="form-control"></td>
                  <td><input type="text" data-ng-model="logType.accountKey" class="form-control"></td>
                  <td><input type="text" data-ng-model="logType.override.comment" class="form-control" placeholder="Leave blank to use appointment subject"></td>
                  <td><button data-ng-click="deleteLogType($index)" class="btn btn-danger">&times;</button></td>
                </tr>
              </table>
              <button data-ng-click="saveConfig()" class="btn btn-primary">Save</button>
              <button data-ng-click="addLogType()" class="btn btn-default">Add new log type</button>
              <p>{{ configuration.status }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Import/Export</h3>
              <p>
                <button data-ng-click="importConfig()" class="btn btn-default">Import</button>
                <button data-ng-click="exportConfig()" class="btn btn-default">Export</button>
              </p>
              <textarea class="form-control" data-ng-model="configuration.importExport" placeholder="To import, paste here and press import. To export, press export and configuration will be displayed here."></textarea>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Results <small><a href="" data-ng-click="clearResult()">Clear</a></small></h2>
      <table class="table table-condensed">
        <tr>
          <th>Comment</th>
          <th>Issue</th>
          <th>Account</th>
          <th>Duration</th>
          <th>Remaining Estimate</th>
          <th>Status</th>
        </tr>
        <tr data-ng-repeat="result in results" data-ng-class="result.style">
          <td>{{ result.subject }}</td>
          <td>{{ result.issueKey }} {{ result.response.issue.summary }}</td>
          <td data-ng-if="!result.accountDescription">{{ result.accountKey }}</td>
          <td data-ng-if="result.accountDescription">{{ result.accountDescription }}</td>
          <td>{{ result.duration / 3600000 | number : 2}} h</td>
          <td><span data-ng-if="result.response.issue.remainingEstimateSeconds">{{ result.response.issue.remainingEstimateSeconds / 3600 | number : 2}} h</span></td>
          <td uib-tooltip="{{ result.statusTooltip }}">{{ result.status }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ngQueue/ngQueue.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/app.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/configService.js"></script>
<script src="scripts/exchangeService.js"></script>
<script src="scripts/jiraService.js"></script>
<!-- endbuild -->
</body>
</html>
