<div class="row" data-ng-controller="QuickLogController as quickLog">
  <div class="col-md-12">
    <form role="form" data-ng-submit="quickLog.submitQuickLog()">
      <div class="form-group">
        <label for="quickDate">Date</label>
        <input type="date" class="form-control" id="quickDate" data-ng-model="quickLog.date">
      </div>
      <div class="form-group">
        <label for="quickLogType">Type</label>
        <select id="quickLogType"
                class="form-control"
                data-ng-options="type.name for type in quickLog.logTypes track by type.name"
                data-ng-change="quickLog.overrideComment(quickLog.logType.override.comment)"
                data-ng-model="quickLog.logType"></select>
      </div>
      <div class="form-group">
        <label for="quickDuration">Hours</label>
        <input type="number" class="form-control" step="any" id="quickDuration" data-ng-model="quickLog.durationHours">
      </div>
      <div class="form-group">
        <label for="quickComment">Comment</label>
        <textarea class="form-control" id="quickComment" data-ng-model="quickLog.comment" data-ng-readonly="quickLog.commentReadOnly"></textarea>
      </div>
      <span uib-tooltip="Please select a type" tooltip-enable="!quickLog.logType.issueKey" tooltip-placement="right">
        <button data-ng-click="quickLog.submitQuickLog()" data-ng-disabled="!quickLog.logType.issueKey" class="btn btn-primary" id="quickSubmit">Submit</button>
      </span>
    </form>
  </div>
</div>